.subscribe {
    width: 100%;
    height: 350px;
    display: grid;
    place-content: center;

    .subscribe__title {
        text-align: center;
    }

    .subscribe__form {
        display: flex;

        input[type="email"] {
            width: 250px;
            height: 50px;
            padding: 10px;
            outline: none;
            margin-right: 20px;
        }

        input[type="button"] {
            width: 65px;
            height: 50px;
        }
    }
}